.heroSection {
    height: 55vh;
    background: url(/img/image\ 110.png);
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroSection div {
    width: 350px;
}

.heroSection div>* {
    margin: 24px 0;
}

.heroSection h1 {
    font-size: 40px;
}

.heroSection a {
    color: black;
}

a.ctaBtn {
    color: white;
}

a.ctaBtn:hover {
    color: #ad343e;
    text-decoration: none;
}

.heroSection+section>div {
    justify-content: center;
    margin: 32px auto;
    gap: 12px;
}

.heroSection+section>div>div {
    flex-basis: 15%;
    padding: 12px 24px;
    border: 1px solid #dbdfd0;
    box-shadow: 1px 1px 1px 1px #0000001f;
    color: #474747;
}

.heroSection+section>div>div>* {
    margin: 12px 0;
}

.heroSection+section a {
    color: #ad343e;
    font-family: 'DM Sans Bold';
}

.heroSection+section h3 {
    color: black;
    font-family: 'DM Sans Bold';
}

.contact {
    background: #474747;
    color: white;
    width: fit-content;
    padding: 12px 24px;
}

.contact i+p {
    color: #dbdfd0;
}

.contact a {
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.contact>* {
    margin: 10px 0;
}

.sect3 {
    align-items: center;
    gap: 24px;
    background: #F9F9F7;
}

.sect3 h2~* {
    margin: 12px 0;
}

.sect3>div+div {
    padding-right: 24px;
    text-align: left;
}

.sect3>* {
    flex-basis: 45%;
}

.sect3 .image {
    border-radius: 18px;
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    background: url(../img/image\ 111.png);
}

.sect3 .image+div {
    z-index: 1;
    width: 40%;
    margin-left: 300px;
    margin-top: -80px;
    background: #474747;
}