@font-face {
    font-family: 'Playfair Display';
    src: url(/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans Regular';
    src: url(/fonts/DMSans_18pt-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans Medium';
    src: url(/fonts/DMSans_18pt-Medium.ttf);
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url(/fonts/DMSans_18pt-Bold.ttf);
}

@font-face {
    font-family: 'Playfair Display Semibold';
    src: url(/fonts/PlayfairDisplay-SemiBoldItalic.ttf);
}

body {
    font-family: 'DM Sans Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display';
}

a {
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}

header>div {
    color: white;
    background: #474747;
    padding: 12px 24px;
    justify-content: space-between;
    font-size: 12px;
}

div>div>a {
    margin: 0 12px;
    color: white;
    transition: all 300ms ease-in-out;
}

div>div>a:hover {
    text-decoration: underline;
}

header>div p {
    margin-left: 6px;
    display: inline;
}

div>i {
    margin-left: 6px;
    transition: all 300ms ease-in-out;
}

div>i:hover {
    transform: scale(1.25);
}

nav {
    padding: 12px 48px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
    gap: 8px;
}

.logo h2 {
    font-family: 'Playfair Display Semibold';
    font-size: 32px;
}

.navigationMenu {
    gap: 8px;
    align-items: center;
    font-family: 'DM Sans Medium';
}

.navigationMenu li {
    padding: 4px 8px;
    border-radius: 12px;
}

.navigationMenu li:hover {
    background: #dbdfd0;
}

nav button {
    background: transparent;
    border: 2px solid black;
    padding: 8px 24px;
    border-radius: 18px;
    height: fit-content;
    font-family: 'DM Sans Bold';
    transition: all 400ms ease-in-out;
}

nav button:hover {
    background: black;
    color: white;
}