@font-face {
    font-family: 'Playfair Display';
    src: url(/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans Regular';
    src: url(/fonts/DMSans_18pt-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans Medium';
    src: url(/fonts/DMSans_18pt-Medium.ttf);
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url(/fonts/DMSans_18pt-Bold.ttf);
}

@font-face {
    font-family: 'Playfair Display Semibold';
    src: url(/fonts/PlayfairDisplay-SemiBoldItalic.ttf);
}

body {
    font-family: 'DM Sans Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display';
}

header>div {
    color: white;
    background: #474747;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

header a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
}

header>div p {
    margin-left: 6px;
    display: inline;
}

div>i {
    margin-left: 6px;
}